# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.settings/language.settings.xml
Debug/Drivers/STM32F7xx_HAL_Driver/Src/subdir.mk
Debug/Middlewares/ST/STM32_USB_Device_Library/Class/CDC/Src/subdir.mk
Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/subdir.mk
Debug/Middlewares/Third_Party/FatFs/src/option/subdir.mk
Debug/Middlewares/Third_Party/FatFs/src/subdir.mk
Debug/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS/subdir.mk
Debug/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM7/r0p1/subdir.mk
Debug/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/subdir.mk
Debug/Middlewares/Third_Party/FreeRTOS/Source/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/api/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/apps/mqtt/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/core/ipv4/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/core/ipv6/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/core/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/netif/ppp/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/netif/subdir.mk
Debug/Middlewares/Third_Party/LwIP/system/OS/subdir.mk
Debug/my9.bin
Debug/objects.list
Debug/sources.mk
Debug/Src/subdir.mk
Debug/startup/subdir.mk
NUCLEO-F767ZI.xml
.settings/language.settings.xml
Debug/my9.bin
NUCLEO-F767ZI.xml
Debug/startup/subdir.mk
Debug/Src/subdir.mk
Debug/sources.mk
Debug/objects.list
Debug/my9.bin
Debug/Drivers/STM32F7xx_HAL_Driver/Src/subdir.mk
Debug/Middlewares/ST/STM32_USB_Device_Library/Class/CDC/Src/subdir.mk
Debug/Middlewares/ST/STM32_USB_Device_Library/Core/Src/subdir.mk
Debug/Middlewares/Third_Party/FatFs/src/option/subdir.mk
Debug/Middlewares/Third_Party/FatFs/src/subdir.mk
Debug/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS/subdir.mk
Debug/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM7/r0p1/subdir.mk
Debug/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/subdir.mk
Debug/Middlewares/Third_Party/FreeRTOS/Source/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/api/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/apps/mqtt/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/core/ipv4/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/core/ipv6/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/core/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/netif/ppp/subdir.mk
Debug/Middlewares/Third_Party/LwIP/src/netif/subdir.mk
Debug/Middlewares/Third_Party/LwIP/system/OS/subdir.mk
